/* Medium devices and smaller */
@media (max-width: 992px) {
    /* Nav collapse */
    #nav-panel {
        max-width: 60px;
    }
    #main-panel {
        max-width: none;
    }

    /* Welcome page */
    .image-spacer {
        background-size: 20rem !important;
        animation-duration: 2s !important;
    }
    .scroll-destination-mobile {
        scroll-snap-align: start;
    }
}
/* Large devices and larger */
@media (min-width: 992px) {
    #nav-panel .logo {
        position: relative;

        /* -2px to center because logo is 4px wider than nav button icons*/
        left: calc(-0.25em - 2px);
        margin-left: 0.75rem !important;
    }

    #nav-panel button {
        width: 80%;

        /* Slide it to match logo indentation */
        position: relative;
        left: -0.25em;
    }

    .scroll-back {
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(.35,.26,0,1.45);
        transition-property: opacity transform;

        transform: rotate(-90deg);
    }
    .scroll-back.active {
        transform: rotate(0deg);
    }

    /* Welcome page */
    .demo-sales-pitch p {
        width: 75%;
    }
    .text-lg-right.demo-sales-pitch p {
        float: right;
    }
    .scroll-destination {
        scroll-snap-align: start;
    }
}

/* ANIMATION DEFINITIONS /////////////////////////////*/
:root {
    --playful-timing: cubic-bezier(.46,.03,.52,.96);
}
@keyframes scale-bounce {
    to {
        transform: scale(1.5);
    }
}
@keyframes rot-clockwise {
    to {
        transform: rotate(180deg) translateX(1px);
    }
}
@keyframes rot-clockwise-center {
    to {
        transform: rotate(180deg);
    }
}
@keyframes tippy-taps {
    0% {
        transform: translateY(0px) rotate(15deg);
        transition-timing-function: ease-in;
    }
    25% {
        transform: translateY(-20px) rotate(-5deg);
        transition-timing-function: var(--playful-timing);
    }
    37.5% {
        transform: translateY(6px) rotate(-15deg);
        transition-timing-function: var(--playful-timing);
    }
    50% {
        transform: translateY(0px) rotate(-15deg);
        transition-timing-function: ease-in;
    }
    75% {
        transform: translateY(-20px) rotate(5deg);
        transition-timing-function: var(--playful-timing);
    }
    87.5% {
        transform: translateY(6px) rotate(15deg);
        transition-timing-function: var(--playful-timing);
    }
    100% {
        transform: translateY(0px) rotate(15deg);
        transition-timing-function: ease-in;
    }
}
@keyframes primary-shadow-drop {
    from {
        text-shadow: 0 0 var(--primary);
    }
    to {
        text-shadow: .5rem 0 var(--primary);
    }
}
@keyframes shadow-drop {
    from {
        text-shadow: 0 0 var(--light-darker);
    }
    to {
        text-shadow: .5rem 0 var(--light-darker);
    }
}
@keyframes fun-spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(90deg) scale(0.9);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes boring-spin {
    0% {
        transform: rotate(0deg) scale(1.1);
    }
    100% {
        transform: rotate(-90deg) scale(1.1);
    }
}
@keyframes background-scroll {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 5rem -10rem;
    }
}
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(46px, 9999px, 73px, 0);
  }
  4.166666666666666% {
    clip: rect(47px, 9999px, 70px, 0);
  }
  8.333333333333332% {
    clip: rect(25px, 9999px, 26px, 0);
  }
  12.5% {
    clip: rect(145px, 9999px, 113px, 0);
  }
  16.666666666666664% {
    clip: rect(127px, 9999px, 7px, 0);
  }
  20.833333333333336% {
    clip: rect(32px, 9999px, 124px, 0);
  }
  25% {
    clip: rect(31px, 9999px, 5px, 0);
  }
  29.166666666666668% {
    clip: rect(74px, 9999px, 146px, 0);
  }
  33.33333333333333% {
    clip: rect(0px, 9999px, 111px, 0);
  }
  37.5% {
    clip: rect(46px, 9999px, 24px, 0);
  }
  41.66666666666667% {
    clip: rect(63px, 9999px, 68px, 0);
  }
  45.83333333333333% {
    clip: rect(71px, 9999px, 95px, 0);
  }
  50% {
    clip: rect(148px, 9999px, 25px, 0);
  }
  54.166666666666664% {
    clip: rect(38px, 9999px, 90px, 0);
  }
  58.333333333333336% {
    clip: rect(20px, 9999px, 42px, 0);
  }
  62.5% {
    clip: rect(109px, 9999px, 87px, 0);
  }
  66.66666666666666% {
    clip: rect(137px, 9999px, 34px, 0);
  }
  70.83333333333334% {
    clip: rect(133px, 9999px, 88px, 0);
  }
  75% {
    clip: rect(92px, 9999px, 29px, 0);
  }
  79.16666666666666% {
    clip: rect(40px, 9999px, 112px, 0);
  }
  83.33333333333334% {
    clip: rect(120px, 9999px, 45px, 0);
  }
  87.5% {
    clip: rect(16px, 9999px, 90px, 0);
  }
  91.66666666666666% {
    clip: rect(11px, 9999px, 85px, 0);
  }
  95.83333333333334% {
    clip: rect(122px, 9999px, 39px, 0);
  }
  100% {
    clip: rect(85px, 9999px, 78px, 0);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(46px, 9999px, 73px, 0);
  }
  4.166666666666666% {
    clip: rect(47px, 9999px, 70px, 0);
  }
  8.333333333333332% {
    clip: rect(25px, 9999px, 26px, 0);
  }
  12.5% {
    clip: rect(145px, 9999px, 113px, 0);
  }
  16.666666666666664% {
    clip: rect(127px, 9999px, 7px, 0);
  }
  20.833333333333336% {
    clip: rect(32px, 9999px, 124px, 0);
  }
  25% {
    clip: rect(31px, 9999px, 5px, 0);
  }
  29.166666666666668% {
    clip: rect(74px, 9999px, 146px, 0);
  }
  33.33333333333333% {
    clip: rect(0px, 9999px, 111px, 0);
  }
  37.5% {
    clip: rect(46px, 9999px, 24px, 0);
  }
  41.66666666666667% {
    clip: rect(63px, 9999px, 68px, 0);
  }
  45.83333333333333% {
    clip: rect(71px, 9999px, 95px, 0);
  }
  50% {
    clip: rect(148px, 9999px, 25px, 0);
  }
  54.166666666666664% {
    clip: rect(38px, 9999px, 90px, 0);
  }
  58.333333333333336% {
    clip: rect(20px, 9999px, 42px, 0);
  }
  62.5% {
    clip: rect(109px, 9999px, 87px, 0);
  }
  66.66666666666666% {
    clip: rect(137px, 9999px, 34px, 0);
  }
  70.83333333333334% {
    clip: rect(133px, 9999px, 88px, 0);
  }
  75% {
    clip: rect(92px, 9999px, 29px, 0);
  }
  79.16666666666666% {
    clip: rect(40px, 9999px, 112px, 0);
  }
  83.33333333333334% {
    clip: rect(120px, 9999px, 45px, 0);
  }
  87.5% {
    clip: rect(16px, 9999px, 90px, 0);
  }
  91.66666666666666% {
    clip: rect(11px, 9999px, 85px, 0);
  }
  95.83333333333334% {
    clip: rect(122px, 9999px, 39px, 0);
  }
  100% {
    clip: rect(85px, 9999px, 78px, 0);
  }
}
@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(39px, 9999px, 31px, 0);
  }
  10% {
    clip: rect(25px, 9999px, 48px, 0);
  }
  13.333333333333334% {
    clip: rect(123px, 9999px, 99px, 0);
  }
  16.666666666666664% {
    clip: rect(79px, 9999px, 43px, 0);
  }
  20% {
    clip: rect(57px, 9999px, 44px, 0);
  }
  23.333333333333332% {
    clip: rect(118px, 9999px, 18px, 0);
  }
  26.666666666666668% {
    clip: rect(37px, 9999px, 36px, 0);
  }
  30% {
    clip: rect(134px, 9999px, 83px, 0);
  }
  33.33333333333333% {
    clip: rect(70px, 9999px, 144px, 0);
  }
  36.666666666666664% {
    clip: rect(82px, 9999px, 140px, 0);
  }
  40% {
    clip: rect(6px, 9999px, 100px, 0);
  }
  43.333333333333336% {
    clip: rect(22px, 9999px, 69px, 0);
  }
  46.666666666666664% {
    clip: rect(52px, 9999px, 141px, 0);
  }
  50% {
    clip: rect(73px, 9999px, 22px, 0);
  }
  53.333333333333336% {
    clip: rect(72px, 9999px, 87px, 0);
  }
  56.666666666666664% {
    clip: rect(32px, 9999px, 80px, 0);
  }
  60% {
    clip: rect(56px, 9999px, 20px, 0);
  }
  63.33333333333333% {
    clip: rect(77px, 9999px, 146px, 0);
  }
  66.66666666666666% {
    clip: rect(126px, 9999px, 116px, 0);
  }
  70% {
    clip: rect(76px, 9999px, 119px, 0);
  }
  73.33333333333333% {
    clip: rect(140px, 9999px, 74px, 0);
  }
  76.66666666666667% {
    clip: rect(113px, 9999px, 133px, 0);
  }
  80% {
    clip: rect(134px, 9999px, 82px, 0);
  }
  83.33333333333334% {
    clip: rect(17px, 9999px, 60px, 0);
  }
  86.66666666666667% {
    clip: rect(100px, 9999px, 74px, 0);
  }
  90% {
    clip: rect(148px, 9999px, 133px, 0);
  }
  93.33333333333333% {
    clip: rect(123px, 9999px, 59px, 0);
  }
  96.66666666666667% {
    clip: rect(124px, 9999px, 37px, 0);
  }
  100% {
    clip: rect(58px, 9999px, 46px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(39px, 9999px, 31px, 0);
  }
  10% {
    clip: rect(25px, 9999px, 48px, 0);
  }
  13.333333333333334% {
    clip: rect(123px, 9999px, 99px, 0);
  }
  16.666666666666664% {
    clip: rect(79px, 9999px, 43px, 0);
  }
  20% {
    clip: rect(57px, 9999px, 44px, 0);
  }
  23.333333333333332% {
    clip: rect(118px, 9999px, 18px, 0);
  }
  26.666666666666668% {
    clip: rect(37px, 9999px, 36px, 0);
  }
  30% {
    clip: rect(134px, 9999px, 83px, 0);
  }
  33.33333333333333% {
    clip: rect(70px, 9999px, 144px, 0);
  }
  36.666666666666664% {
    clip: rect(82px, 9999px, 140px, 0);
  }
  40% {
    clip: rect(6px, 9999px, 100px, 0);
  }
  43.333333333333336% {
    clip: rect(22px, 9999px, 69px, 0);
  }
  46.666666666666664% {
    clip: rect(52px, 9999px, 141px, 0);
  }
  50% {
    clip: rect(73px, 9999px, 22px, 0);
  }
  53.333333333333336% {
    clip: rect(72px, 9999px, 87px, 0);
  }
  56.666666666666664% {
    clip: rect(32px, 9999px, 80px, 0);
  }
  60% {
    clip: rect(56px, 9999px, 20px, 0);
  }
  63.33333333333333% {
    clip: rect(77px, 9999px, 146px, 0);
  }
  66.66666666666666% {
    clip: rect(126px, 9999px, 116px, 0);
  }
  70% {
    clip: rect(76px, 9999px, 119px, 0);
  }
  73.33333333333333% {
    clip: rect(140px, 9999px, 74px, 0);
  }
  76.66666666666667% {
    clip: rect(113px, 9999px, 133px, 0);
  }
  80% {
    clip: rect(134px, 9999px, 82px, 0);
  }
  83.33333333333334% {
    clip: rect(17px, 9999px, 60px, 0);
  }
  86.66666666666667% {
    clip: rect(100px, 9999px, 74px, 0);
  }
  90% {
    clip: rect(148px, 9999px, 133px, 0);
  }
  93.33333333333333% {
    clip: rect(123px, 9999px, 59px, 0);
  }
  96.66666666666667% {
    clip: rect(124px, 9999px, 37px, 0);
  }
  100% {
    clip: rect(58px, 9999px, 46px, 0);
  }
}

/* CENTERING HELPERS ////////////////////////////////*/
.absolute-top {
    position: absolute;
    top: 0;
}
.absolute-right {
    position: absolute;
    right: 0;
}
.absolute-middle-right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.absolute-top-right {
    position: absolute;
    top: 0;
    right: 0;
}
.absolute-bottom {
    position: absolute;
    bottom: 0;
}
.absolute-left {
    position: absolute;
    left: 0;
}
.absolute-center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.absolute-vcenter {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.absolute-container {
    /* Contains absolute fill */
    position: relative;
}
.absolute-fill {
    /* Fills container */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.fit-content {
    display: block;
    width: max-content;
    height: min-content;
}
/*///////////////////////////////////////////////////*/
/* ASPECT RATIO HELPERS /////////////////////////////*/
.force-square {
    /* Constant aspect ratio hack */
    height: 0px;
    padding-top: 25%;
    position: relative;
}
.force-square img, .force-square div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
/*///////////////////////////////////////////////////*/


.profile-banner, .mini-molt-media-img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-size: cover;
    background-position: 50% 10%;
}

.zindex-front {
    position: relative;
    z-index: 10;
}

.zindex-1 {
    z-index: 1;
}

.logo {
    fill: var(--light);
}

.content {
    /* Outer content container */
    color: var(--light) !important;
    max-width: 600px;
}

#content-body {
    /* Content scroll-box */
    overflow-y: scroll;
    overflow-x: visible;
    scrollbar-width: thin;
    scrollbar-color: var(--dark-lesserest) var(--dark-less);
}

.cool-scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--dark-lesserest) var(--dark-less);
    -webkit-overflow-scrolling: touch;
}

#content-body::-webkit-scrollbar-track,
.scrollbox::-webkit-scrollbar-track,
.cool-scroll::-webkit-scrollbar-track
{
    background-color: var(--dark-less);
}

#content-body::-webkit-scrollbar,
.scrollbox::-webkit-scrollbar,
.cool-scroll::-webkit-scrollbar
{
    width: 7px;
    background-color: var(--dark-lesserest);
}

#content-body::-webkit-scrollbar-thumb,
.scrollbox::-webkit-scrollbar-thumb,
.cool-scroll::-webkit-scrollbar-thumb
{
    background-color: var(--dark-lesserest);
}

.no-h-scroll {
    overflow-x: hidden;
}

#main-panel {
    height: 100vh;
    overflow: hidden;
}

/* Limit panel width on massive screens */
#nav-panel {
    max-width: 18rem;
}
#add-panel {
    max-width: 21rem;
}

#nav-panel strong {
    /* Nav button labels */
    height: 28px;
    /* display: inline-block !important; */
    vertical-align: text-top;
}

#nav-panel button {
    /* Collapsible buttons in left sidebar */
    display: block;
    /* Disable wrapping */
    white-space: nowrap;
}

#nav-panel button.extra-navs:not(#nav-active) strong {
    color: var(--light-faded);
}

#nav-panel button:not(#molt-btn) {
    /* All buttons except the molt one */
    background: none;
    border: none;
    text-align: left;
}

#nav-panel button:not(#molt-btn):hover {
    background: var(--primary-faded);
}

.btn-icon {
    fill: var(--light);
}

/* Active page */
#nav-panel button#nav-active {
    color: var(--primary);
}
#nav-panel #nav-active .btn-icon {
    fill: var(--primary);
}

/* Twitter-like rounding of media edges */
.rounded-media {
    border-radius: 14px;
}

/* Timeline molts */
div.mini-molt {
    /* position: relative; */
    font-size: 13px;
    transition: ease-in-out 200ms;
    /* This has to be visible for the pop-ups to work */
    overflow: visible;
}
/* Quote molt */
.quoted-molt div.mini-molt {
    /* Preserve outer div border */
    border-radius: inherit;
}
div.mini-molt:hover {
    background-color: var(--dark-less);
}
div.mini-molt:hover div.mini-molt:hover {
    background-color: var(--dark-lesser);
}
.neue-card div.mini-molt:hover {
    background: none;
}
.mini-molt-remolt {
    font-size: 11px;
    position: relative;
}
.mini-molt-remolt .remolt-icon {
    position: absolute;
    left: -1.75em;
    bottom: .1em;
}
.mini-molt-remolt a {
    color: inherit;
}
.mini-molt .mini-molt-display-name {
    font-weight: 700;
    color: var(--light);
}
.mini-molt-username, .mini-molt-timestamp {
    color: var(--light-faded);
    cursor: pointer;
}
.mini-molt-timestamp a {
    color: inherit;
}
.mini-molt-actions {
    min-width: 170px;
}
.mini-molt-action {
    cursor: pointer;
    color: var(--light-faded);
    fill: var(--light-faded);
    height: 3em;
    width: 3em;
    overflow: visible;
    white-space: nowrap;
    padding: 10px;
    margin: -10px;
    border-radius: 100%;
    transition: ease-out 150ms;
}
.mini-molt-action.reply:hover {
    color: var(--reply);
    fill: var(--reply);
    background-color: var(--reply-trans);
}
.mini-molt-action.remolt:hover {
    color: var(--remolt);
    fill: var(--remolt);
    background-color: var(--remolt-trans);
}
.mini-molt-action.like:hover {
    color: var(--like);
    fill: var(--like);
    background-color: var(--like-trans);
}
.mini-molt-action.trash:hover {
    color: var(--trash);
    fill: var(--trash);
    background-color: var(--trash-trans);
}
.mini-molt-action.edit:hover {
    color: var(--edit);
    fill: var(--edit);
    background-color: var(--edit-trans);
}
.mini-molt-action.pin:hover {
    color: var(--pin);
    fill: var(--pin);
    background-color: var(--pin-trans);
}
.mini-molt-action-icon {
    fill: inherit;
}
/* Offset reply button for weighted visual centering */
.regular-molt .reply .mini-molt-action-icon,
.tiny-molt .reply .mini-molt-action-icon {
    transform: translateY(1px);
}
.mini-molt-action-counter {
    font-size: 13px;
    vertical-align: bottom;
}
.tiny-molt .mini-molt-action-counter {
    font-size: 11px;
}
.mini-molt-media-container {
    /* Constant aspect ratio hack */
    height: 0px;
    padding-top: 56%;
    overflow: hidden;
    position: relative;
}
.mini-molt-media-container img {
    position: absolute;
    top: 0;
}
.mini-molt-text-box {
    /* This has to be visible for the pop-ups to work */
    overflow: visible;
}
.mini-molt-content {
    overflow-wrap: break-word;
    word-break: break-word;
    overflow: hidden;
}
.mini-molt-crop-square {
    /* Constant aspect ratio hack */
    height: 0px;
    padding-top: 100%;
    overflow: hidden;
    position: relative;
}
.aspect-ratio-child {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.border-thicc {
    border-width: 7px !important;
}

.mini-compose-box {
    border-width: 7px !important;
    max-height: 5em;
    overflow: hidden;
}
.mini-compose-box.focused {
    max-height: none;
}
.mini-compose-box textarea, .mini-compose-box input {
    background: none;
    color: inherit;
    border: none;
    resize: none;
}

.mini-compose-box textarea, .mini-compose-textarea textarea,
.mini-compose-reply-textarea textarea, .mini-compose-box input {
    outline: none;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 0px 2px var(--primary);
    -moz-box-shadow: 0px 0px 0px 2px var(--primary);
    box-shadow: 0px 0px 0px 2px var(--primary);
}

#nav-active .profile-picture {
    -webkit-box-shadow: 0px 0px 0px 2px var(--primary);
    -moz-box-shadow: 0px 0px 0px 2px var(--primary);
    box-shadow: 0px 0px 0px 2px var(--primary);
}

.profile-box, .text-molt {
    font-size: 13px;
}
.profile-box-banner {
    /* Constant aspect ratio hack */
    height: 0px;
    padding-top: 33.333%;
    overflow: hidden;
    position: relative;
}
.profile-box-banner img {
    position: absolute;
    top: 0;
}
.profile-box-bio {
    position: relative;
}
.profile-box-avatar {
    position: absolute;
    margin-top: -18%;
    z-index: 1;
}
.profile-box-shadow {
    -webkit-box-shadow: 0px 0px 0px 5px var(--dark);
    -moz-box-shadow: 0px 0px 0px 5px var(--dark);
    box-shadow: 0px 0px 0px 5px var(--dark);
}
.px43 {
    height: 43px;
    width: 43px;
}
.px28 {
    height: 28px;
    width: 28px;
}
.px26 {
    height: 26px;
    width: 26px;
}
.px20 {
    height: 20px;
    width: 20px;
}
.profile-box-avatar img, div.profile-picture {
    background-size: cover;
    background-position: center;
}
.shadow-expand {
    top: -1px !important;
    right: -1px !important;
    bottom: -1px !important;
    left: -1px !important;
    width: auto !important;
    height: auto !important;
}
.profile-box-display-name {
    font-size: 16px;
    font-weight: 800;
}
.profile-box-description {
    /* margin-top: -0.5em; */
    overflow: hidden;
}
[contentEditable]:focus, [contentEditable]:hover {
    border: 1px solid var(--primary-faded-less);
    outline: none;
}
.profile-box-category {
    transition: ease-in-out 150ms color, background-color;
}
.profile-box-category.active {
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
}
.profile-box-category:hover {
    background-color: var(--primary-faded);
    color: var(--primary);
    cursor: pointer;
}
.profile-box-follow-row {
    min-height: 38px;;
}

.modal.fade {
    background: #cfe6ff21;
}
.modal-dialog {
    max-width: 600px;
}
.modal-content {
	border-radius: 15px;
}
.modal .close {
    margin: -1rem auto -1rem -1rem;
    opacity: 1;
}
.modal .close span{
    text-shadow: none;
}
.modal textarea {
    background: none;
    color: inherit;
    border: none;
    resize: none;;
}

.verified {
    fill: var(--light);
    vertical-align: text-bottom;
    transform: scale(80%);
    -webkit-transform: scale(0.8);
    cursor: help;
}

.edit-icon {
    fill: var(--light);
    vertical-align: text-top;
}

.valign-middle {
    vertical-align: middle;;
}
.valign-top {
    vertical-align: top;;
}
.valign-bottom {
    vertical-align: bottom;;
}

.mention, .crabtag {
    color: var(--primary);
}

.cool-input .delete-button {
    background: var(--dark-less) !important;
    border: none;
    border-bottom: 2px solid var(--light-faded);
    color: var(--primary) !important;
}
.cool-input .delete-button:hover {
    color: var(--primary-dark) !important;
}

.cool-input input, .cool-input textarea {
    background: var(--dark-less) !important;
    border: none;
    border-bottom: 2px solid var(--light-faded);
    color: var(--light) !important;
}
.cool-input input:read-only {
    color: var(--muted) !important;
}
.cool-input input, .cool-input textarea, .cool-input select {
    border: none;
    border-bottom: 2px solid var(--light-faded);
}
.cool-input input:hover {
    background: var(--dark-less) !important;
}
.cool-input input:focus {
    background: var(--dark-less) !important;
    border-bottom: 2px solid var(--secondary);
}
.cool-input:focus-within .input-group-prepend .input-group-text {
    background-color: var(--secondary) !important;
    color: var(--light);
}
.cool-input .input-group-text {
    background-color: var(--dark-lesserest);
    border-color: var(--dark-lesser);
    color: var(--light);
}

.active-remolt {
    fill: var(--remolt);
    color: var(--remolt);
}

.mini-follow button {
    float: right;
}

.mini-follow button, .mini-btn {
    font-size: 13px;
    line-height: 1;
}

.heading-back-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.clickable {
    cursor: pointer !important;
}
.not-clickable {
    cursor: default !important;
}
.hoverable:hover {
    background: var(--dark-less);
}
.hoverable-light {
    background: var(--dark-less);
}
.hoverable-light:hover {
    background: var(--dark-lesser);
}

.banner-edit-button, .avatar-edit-button {
    position: absolute;
    border-radius: 100%;
    opacity: 0;
    transition-duration: 100ms;
}
.banner-edit-button {
    border-radius: 0;
    z-index: 1;
}
.banner-edit-button:hover, .avatar-edit-button:hover {
    opacity: 1;
    background-color: #0000005e;
}
.banner-edit-button svg, .avatar-edit-button svg {
    /* Center in div */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.mini-bio {
    position: relative;
    overflow-x: hidden;
}
.mini-bio .mini-molt-text-box {
    overflow-x: hidden;
}
.youtube-embed {
    /* Constant aspect ratio hack */
    height: 0px;
    padding-top: 56%;
    overflow: hidden;
    position: relative;
}
.youtube-embed iframe {
    position: absolute;
    top: 0;
}

.file-input {
    max-width: 100%;
}

.image-modal-body {
    width: 100%;
    height: 100%;
    max-width: 80%;
    max-height: 80%;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.image-modal-body img {
    max-width: 100%;
    max-height: 100%;
}

.large-molt-text {
    font-size: 20px;
    line-height: 1.3125;
    font-weight: 400;
}
.large-molt-media-container {
    max-height: none;
}

.compose-button-row {
    max-height: 38px;
}

.custom-file {
    width: 0.5em;
}
.custom-file-input {
    width: 0;
}
.custom-file-label {
    background: none;
    border: none;
    left: auto;
    fill: var(--primary);
}
.custom-file-label:hover {
    fill: var(--primary-dark);
    cursor: pointer;
}
.custom-file-label::after {
    content: none !important;
    display: none;
}

body, .master-container {
    overflow: hidden;
}

.tiny-rounded {
    border-radius: 10px;
}

/* Notifications */
.notif-icon {
  position: absolute;
}
.notif-icon-row {
  position: relative;
}
.notif-icon {
  left: -36px;
}
.notif-other, .notif-reply, .notif-follow {
    fill: var(--reply);
}
.notif-like, .notif-mention {
    fill: var(--like);
}
.notif-remolt {
    fill: var(--remolt);
}
.notif-unfollow {
    fill: var(--light-faded);
}
.notif-trophy {
    fill: #7b600e;
}

.notif-unread {
    background: var(--dark-less);
}
.notif-unread:hover {
    background: var(--dark-lesser) !important;
}

.tiny-reply-context {
    opacity: 0.7;
}

.tiny-reply-context .mini-molt-content {
    font-size: 11px;
}

.reply-indicator {
    height: 17px;
}

.profile-file-select {
    overflow: hidden;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: var(--dark-less);
}
.tooltip-inner {
    color: var(--light);
    background-color: var(--dark-less);
}

.trophy {
    width: 150px;
}

/* Notification nav icon badge */
.notif-badge {
    background: var(--primary);
    border-radius: 100%;
    width: 20px;
    position: absolute;
    height: 20px;
    font-size: 13px;
    text-align: center;
    line-height: 1;
    border: var(--dark) solid 2px;
    color: var(--light);
    font-weight: 600;
    left: 2em;
    top: 0;
    font-style: normal;
}

.follows-you {
    background: #1e2731;
    padding: 2px 6px;
    margin: -3px -3px -3px 5px;
    border-radius: 6px;
    font-size: 11px;
    white-space: nowrap;
}

.thread-connector {
    height: 100%;
    width: 100%;
    z-index: 5;
    position: relative;
}
.thread-line {
    height: calc(100% - 23px - 5px);
    width: 2px;
    background: var(--muted);
    opacity: 0.5;
    margin: 5px auto;
}

.close-file-btn {
    margin: auto 1em;
    fill: var(--primary);
}
.close-file-btn:hover {
    fill: var(--primary-faded-less);
}

.search-tab-buttons {
    position: sticky;
    top: 0;

    background-color: var(--dark);
    box-shadow: 0 0 5px rgba(29, 29, 29, 0.27);

    z-index: 100;
}
.search-btn {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    height: 100%;
}

.modal-left-align {
    justify-content: flex-start;
}
.modal-left-align .close {
    margin: -1rem 0 -1rem -1rem;
}

.page-link {
    min-width: 2rem;
}

/* Page nav buttons */
.page-item .page-link, .page-item.disabled .page-link {
    border-color: var(--dark-less-more);
    background-color: var(--dark-less);
    transition: ease-in-out 150ms;
}
/* Default fill/text color */
.page-item .page-link {
    color: var(--light-darker);
    fill: var(--light-darker);
}
/* Disabled fill/text color */
.page-item.disabled .page-link {
    fill: var(--dark-lesserest);
    color: var(--dark-lesserest);
}
/* Hover background */
.page-item .page-link:hover {
    background-color: var(--dark-lesserest);
}
/* Click background */
.page-item .page-link:active {
    background-color: var(--dark-lesser);
}

.pin-button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
.mini-molt:hover .pin-button {
    display: inline;
}

#lastfm-loading {
    opacity: 0.5;
}

.custom-select, .custom-select:focus {
    background: var(--dark-less) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='rgb(217, 217, 217)' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    color: var(--light);
}

#nav-footer {
    line-height: 1.1em;
}

.header-cover {
    margin-top: 4rem;
	width: 100%;
	max-width: 70em;
}

.feature {
    max-width: 30em;
}

.scrollbox {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: visible;
    scrollbar-width: thin;
    scrollbar-color: var(--dark-lesserest) var(--dark-less);
}

.h-center {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.icon-overlap {
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    clip-path: circle(0);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
div.feature:hover .icon-overlap {
    clip-path: circle(28px);
}

.avatar-indent {
    margin-top: 1.5em;
}

.shell {
    /* background-color: var(--dark-less); */
    background: none;
}

#shell-toggle {
    outline: none !important;
    box-shadow: none;
}
.shell-toggle-chevron {
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 300ms transform;
}
.rotate-90 {
    transform: rotate(90deg);
}

.shell-stats {
    list-style: none;
}
.shell-stats li::before {
    content: "-";
    font-size: small;
    color: var(--light-faded);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

#shell-contents {
    overflow-y: auto;
    padding: 0 1rem;
    transition: ease-in-out 300ms;
    height: 25rem;
    border-bottom: 1px solid var(--border-dark);
}
#shell-contents.shell-collapsed {
    height: 0px;
    padding: 0px 1rem;
    border-color: var(--dark);
}

table#user-info th {
    color: var(--primary);
    width: 10rem;
}


.loading-icon, .loading-icon-center {
    fill: var(--primary);
    animation-name: rot-clockwise;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.68,-0.55,.27,1.55);
}
.loading-icon-center {
    animation-name: rot-clockwise-center;
}
.loading-profile {
    animation-name: scale-bounce;
    animation-direction: alternate;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(.84,.28,.23,1.65);
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: var(--primary);
    z-index: -1;
    position: relative;
}

.form-group:nth-last-of-type(2) {
    margin-bottom: 0;
}

.font-0 {
    font-size: 0;
}
.font-small {
    font-size: small;
}


.content-loading-indicator img, .content-loading-indicator svg {
    left: 0;
    right: 0;
    position: absolute;
    margin: 5rem auto;
    height: 5rem;
    /* width: 5rem; */
    fill: var(--light-faded-more);
    animation-name: tippy-taps;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-duration: 960ms;
}

.content-loading-failed a {
    display: table;
    left: 0;
    right: 0;
    position: absolute;
    margin: 5rem auto;
}

.http-error {
    text-shadow: .5rem 0 var(--primary);
    font-weight: 600;
    color: var(--light);
    font-size: 11rem;
    animation-name: primary-shadow-drop;
    animation-duration: 1s;
    animation-iteration-count: cubic-bezier(.77,0,.18,1);
}
.http-error-img {
    width: 90%;
    mix-blend-mode: screen;
}

.center-img {
    left: 0;
    right: 0;
    margin: auto;
    display: block;
}

#user-info tr:not(:last-child), .shell-stats li:not(:last-child) {
    border-bottom: 1px solid var(--border-darker);
}

.scroll-back {
    display: block;
    height: 28px;
    width: 28px;
    opacity: 0;
    z-index: -1;
    cursor: pointer;
}
.scroll-back.active {
    z-index: auto;
    opacity: 1;
}
.scroll-back:hover svg {
    fill: var(--primary);
}

/*///////////////////////////////////////////////////////////////////////////*/
/*                                                                           */
/*                               STATS PAGE                                  */
/*                                                                           */
/*///////////////////////////////////////////////////////////////////////////*/
.big-badge {
    width: 100%;
    fill: var(--primary);
    position: absolute;
    top: 0;
    height: 15rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    animation-name: fun-spin;
    animation-timing-function: cubic-bezier(.79,.14,.15,.86);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.big-badge-back {
    width: 100%;
    fill: var(--primary-faded);
    position: absolute;
    top: 0;
    height: 15rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -2;
    animation-name: boring-spin;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.user-count {
    text-shadow: .3rem 0 var(--light-darker);
    font-weight: 600;
    color: var(--light);
    font-size: 11rem;
}

.stat-container {
    background: var(--dark-less-more);
    border-radius: 10px;
}

.stat-num {
    font-weight: 600;
}

.circle-back {
    background: var(--dark-lesser);
    display: block;
    width: 80px;
    height: 60px;
    border-radius: 10%;
    position: absolute;
    z-index: -1;
    /* opacity: 0.1; */

    top: 0;
    bottom: 0;
    margin: auto;
}

.crown-name {
    height: 3.5rem;
}

.crown-name h1 {
    background-color: var(--dark);
    width: 5em;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.horizontal-line {
	height: 2px;
	width: 100%;
	background: var(--dark-less);
	top: 0;
	bottom: 0;
	margin: auto;
    position: absolute;
    z-index: -1;
}

.king-profile {
    justify-content: center;
}

.king-profile .profile-picture {
    width: 100px;
    height: 100px;
}

.trendy-tag-molts .mini-molt {
    border-radius: 0.5rem;
}

.avatar-badge {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: var(--dark);
    display: block;
    position: absolute;
    text-align: center;
}
.avatar-badge-icon {
    fill: var(--light);
}
.profile-crown {
	position: absolute;
	transform: rotate(-32deg) translate(5px, -21px);
	width: 50px;
}

.stat-explanation {
    position: relative;
    z-index: 10;
}

.king-display-name {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
    white-space: nowrap;
}

.king-display-name a {
    height: 100%;
    position: relative;
}
.king-display-name svg.verified {
    top: 0;
    bottom: 0;
    left: 0.25rem;
    margin: auto;
    position: absolute;
}

.king-profile .follow-count {
    background-color: var(--dark-lesser);
    color: var(--light-darker);
    border-radius: 5px;
    white-space: nowrap;
}

.lastfm-logo {
    padding-bottom: 0.1em;
}

.molt-dropdown {
    background: var(--dark-less);
    border: none;
}
.molt-dropdown .dropdown-item {
    color: var(--light);
    fill: var(--light);
    transition: ease-in-out 100ms;
    transition-property: background;
}
.molt-dropdown .dropdown-item:hover {
    background: var(--dark-lesser);
}
.molt-dropdown svg {
    vertical-align: text-bottom;
}
#follow-btn {
    width: 7em;
}
.mini-molt.trophy {
	overflow: hidden;
}

.image-spacer {
    position: relative;

    height: 10rem;
    width: 100vw;

    left: 50%;
    margin: 7rem 0;
    margin-left: -50vw;

    background-color: var(--dark);
    background-image: url('/static/img/welcome_tile.png');
    background-size: 40rem;
    background-repeat: repeat;

    animation-name: background-scroll;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#welcome-header {
    position: fixed;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 4rem;

    margin: 0;
    padding: 0.5rem;

    background-color: var(--dark-less);
}
#welcome-header .btn {
    display: inline;
}

/* Crabberpedia */
.wikipedia {
    background: white;
    color: black;
    font-family: sans-serif;
}
.wikipedia h1 {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    border-bottom: 1px solid gray;
}

.vertical-line {
    height: 5rem;
    width: 50%;

    float: left;
    margin: auto;

    border-right: 3px dotted var(--border-dark);
}

.scroll-snap {
    scroll-snap-type: y mandatory;
    scroll-padding-top: 5rem;
}

.neue-card, .neue-hover-card:hover {
    background-color: var(--neue-card) !important;

    border-radius: .25rem;

    transition-duration: 200ms;

    -webkit-box-shadow: 6px 6px 16px 5px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 6px 6px 16px 5px rgba(0, 0, 0, 0.03);
    box-shadow: 6px 6px 16px 5px rgba(0, 0, 0, 0.03);
}
.neue-card:hover {
    transform: translate(-2px, -2px);
    -webkit-box-shadow: 24px 24px 20px 5px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 24px 24px 20px 5px rgba(0, 0, 0, 0.04);
    box-shadow: 24px 24px 20px 5px rgba(0, 0, 0, 0.04);
}
.neue-card-media {
    border-radius: 14px;
}

.glitch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.glitch {
  text-transform: upercase;
  position: relative;
  display: inline-block;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #49FC00;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #b300fc;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}
#molt-source {
    text-decoration: none;
}

#add-panel .search-box {
    height: 2.25rem;

    background-color: var(--dark-lesser);
    margin-bottom: 2rem;
}
#add-panel .search-box svg {
    height: 100%;

    fill: var(--placeholder);
}
#add-panel .search-box:focus-within {
    background-color: var(--dark);

    box-shadow: var(--primary) 0px 0px 0px 1px;
}
#add-panel .search-box:focus-within svg {
    fill: var(--primary);
}

.panel {
    margin-top: 1rem;
    padding: 1rem;
    padding-top: 0;

    background-color: var(--dark-less);

    border-radius: 1rem;
}
.panel .panel-title, .inline-section-title {
    padding: 0.75rem 0;

    font-size: 19px;
    font-weight: 800;

    border-bottom: 1px solid var(--border-dark);
}
.recommended-crab {
    padding: 0 1rem;
    margin: 0 -1rem;

    transition: ease-in-out 200ms;
}
.recommended-crab:hover {
    background-color: var(--dark-lesser);
}
.recommended-crab .mini-bio {
    background: transparent !important;
}
.panel#trending a {
    text-decoration: none !important;
}
.trending-tag {
    margin: 0.25rem 0;
    padding: 0.25rem;

    border-radius: 0.25rem;
}
.trending-tag:hover {
    background-color: var(--dark-less-more);
}
.trending-tag span {
    display: block;

    color: var(--light);

    font-size: 15px;
    font-weight: bold;
}
.panel#trending p.nothing {
    margin: 0.75rem 0 0.1rem 0;
}

/* Only underline spans in anchor (to avoid underlined leading whitespace) */
.following-mutuals a {
    text-decoration: none;
}
.following-mutuals a:hover span {
    text-decoration: underline;
}
.featured-mutuals {
    display: inline-block;

    height: 18px;

    vertical-align: top;
}
.featured-mutual-avatar {
    position: relative;
    display: inline-block;

    width: 18px;
    height: 18px;

    border-radius: 18px;
    box-shadow: var(--dark) 0px 0px 0px 1px;

    background-size: cover;
}
/* Overlap avatars */
.featured-mutual-avatar:not(:first-child) {
    margin-left: -10px;
}
/* Reverse z-index order */
.featured-mutual-avatar:nth-child(1) {
    z-index: 4;
}
.featured-mutual-avatar:nth-child(2) {
    z-index: 3;
}
.featured-mutual-avatar:nth-child(3) {
    z-index: 2;
}

/* Change button text on hover */
.btn .hover-text {
    display: none;
}
.btn:hover .hover-text {
    display: unset;
}
.btn:hover .default-text {
    display: none;
}

.follow-btn {
    width: 5em;
}
.unfollow-btn {
    width: 7em;
}

#recommended-crabs .mini-bio {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Primary-color Anchor consistency */
a:visited.text-primary {
    color: var(--primary) !important;
}
a:hover.text-primary {
    color: var(--primary-dark) !important;
}
a:active.text-primary {
    color: var(--primary-darker) !important;
}

/* Inline section */
.inline-section {
    padding: 10px 0;

    border: 1px solid var(--border-dark);
    border-width: 1px 0;

    background-color: var(--dark-less);
}
.inline-section-body {
    border: 1px solid var(--border-dark);
    border-width: 1px 0;

    background-color: var(--dark);
}
.inline-section-title, .inline-section-footer {
    position: relative;
    height: 45px;
    padding: 0;
}
.inline-section-title span, .inline-section-footer span {
    display: inline-block;
    position: absolute;

    height: min-content;

    margin: auto;

    top: 0;
    bottom: 0;
    left: 0.5rem;
}
.inline-section-footer {
    cursor: pointer;
}
.inline-section-footer:hover {
    background-color: var(--dark-less);
}

.search-highlight {
    border-radius: 0.1rem;
    font-weight: bold;
    color: rgb(.2, .2, .2);
    background-color: rgba(255, 222, 0, 0.75) !important;
    box-shadow: rgba(255, 222, 0, 0.75) 0px 0px 0px .05rem
}

.floating-media-tag {
    position: absolute;
    left: 0.75rem;
    bottom: 0.75rem;

    padding: 0.1rem 0.3rem;

    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 0.3rem;

    font-weight: bold;

    z-index: 1;
}

.link-card {
    display: flex;
    position: relative;

    width: 100%;
    height: 8.5rem;

    border: 1px solid var(--border-dark-less);

    background: none;

    overflow: hidden;
}
.link-card:hover {
    background: var(--dark-lesser);
}
.link-card .card-image {
    display: inline-block;

    height: 8.5rem;
    width: 8.5rem;

    flex-shrink: 0;

    background-color: transparent;
    background-size: cover;
}
.link-card .card-content {
    display: flex;

    width: 100%;

    padding: 1rem;

    flex-direction: column;
    justify-content: space-between;
}
.link-card .card-content span {
    margin: 0;
}
.link-card .card-title {
    font-weight: 500;
}
.link-card .card-description {
    flex-grow: 2;

    word-wrap: break-word;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.subtle-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}
.subtle-shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 20px;
}

.mini-molt-credentials-text.absolute-top {
    left: 25px;
}
.quoted-molt {
    border: 1px solid var(--border-dark-less);
}
