{% import "macros.jinja" as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | Crabber</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.svg')}}" type="image/svg+xml">
    <link rel="alternate icon" href="{{url_for('static', filename='img/favicon.png')}}">

    <!-- Search Engine Metadata -->
    <meta name="description" content="Crabber is a friendly open-source micro-blogging platform powered by Crabs.">
    <meta name="tags" content="crabber, twitter, micro-blogging, crabs, twitter alternative, open-source, social, social media, social network, mastodon, privacy">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <!-- Facebook Embed Metadata -->
    <meta property="og:site_name" content="Crabber">
    <meta property="og:title" content="{{social_title or 'Join Crabber'}}">
    <meta property="og:description" content="Crabber is a friendly open-source micro-blogging platform powered by Crabs.">
    {% if this_user %}
        {% set social_image = this_user.avatar %}
    {% elif molt %}
        {% set social_image = molt.author.avatar %}
    {% else %}
        {% set social_image = 'img/crabber_header.png' %}
    {% endif %}
    <meta property="og:image" content="{{BASE_URL}}{{url_for('static', filename=social_image)}}">
    {% if this_user %}
    <meta property="og:type" content="profile:{{this_user.username}}">
    {% else %}
    <meta property="og:type" content="website">
    {% endif %}

    <!-- Twitter Embed Metadata -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@maxcompulsion">
    {% if molt %}
    <meta name="twitter:creator" content="@{{molt.author.username}}">
    {% endif %}

    <!-- Mobile web app -->
    <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='img/icon.jpg')}}">
    <link rel="apple-touch-startup-image" href="{{url_for('static', filename='img/launch.png')}}">
    <meta name="apple-mobile-web-app-title" content="Crabber">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="frame-src youtube-nocookie.com www.youtube-nocookie.com giphy.com;" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?version={{server_start}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/color_overrides.css') }}?version={{server_start}}">

    {% if current_page != 'welcome' %}
    <!-- Cursed modes -->
    <link rel="stylesheet" {{'disabled' if not light_mode}} id="light-mode-css" href="{{ url_for('static', filename='css/light_mode.css') }}?version={{server_start}}">
    <link rel="stylesheet" {{'disabled' if not comicsans_mode}} id="comicsans-mode-css" href="{{ url_for('static', filename='css/comicsans_mode.css') }}?version={{server_start}}">
    {% endif %}

    <meta name="last-refresh" content="{{TIMESTAMP}}">
    {% block ext_head %}{% endblock %}

    <!-- Custom scripts -->
    <script src="{{ url_for('static', filename='scripts/main.js') }}?version={{server_start}}"></script>
    <script src="{{ url_for('static', filename='scripts/ajax.js') }}?version={{server_start}}"></script>
    <script src="{{ url_for('static', filename='scripts/lastfm.js') }}?version={{server_start}}"></script>
    <script src="{{ url_for('static', filename='scripts/highlight.js') }}?version={{server_start}}"></script>
    <script async>
        {% if current_user %}
            // When document loads
            $(function() {
                {% if current_page == "home" %}
                setInterval(GetData, 5000, "molts_since", {'crab_id': {{current_user.id}}, 'timestamp': -1}, updateNewMoltIndicator);
                {% endif %}

                // Initial notif count update
                GetData("unread_notif", {'crab_id': {{current_user.id}}}, updateNotifBadge);

                // Update notif count every 5 seconds
                setInterval(GetData, 5000, "unread_notif", {'crab_id': {{current_user.id}}}, updateNotifBadge);

                // Stop propagation of onclick to parent if child element says so
                $('.no-onclick').click(function(event) {
                    event.stopPropagation();
                })
            });
        {% endif %}
    </script>
    {% endblock %}
</head>
<body class="bg-dark text-light">
    <div class="container-fluid {{'p-0' if current_page == 'welcome'}} vh-100 master-container">
        <div class="row h-100 justify-content-center">
            {% if not hide_sidebar %}
            <!-- Nav Panel -->
            <div class="col-2 col-lg-3 p-1" id="nav-panel">
                <!-- Logo -->
                <svg class="mt-2 d-block mx-auto d-lg-inline logo clickable"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 999.938 1000"
                alt="Crabber Logo" width="32" height="32"
                onclick="location.href='/'">
                  <path id="limbs_copy" data-name="limbs copy" class="cls-1" d="M357.1,406.067a41.293,41.293,0,1,1,41.273-41.292A41.282,41.282,0,0,1,357.1,406.067Zm327.19-41.292a41.273,41.273,0,1,1-41.272-41.293A41.282,41.282,0,0,1,684.287,364.775Zm130.4,158.588c-0.12,0-.239,0-0.358-0.005a202.129,202.129,0,0,1-37.678,8.857c-0.637,4-1.332,8-2.06,11.948,0.36,0.109.725,0.2,1.084,0.314-0.882,5.805-1.967,11.541-3.208,17.218a97.813,97.813,0,0,1,33.846-6.016q4.622,0,9.138.424a223.9,223.9,0,0,1,184.534,47.039,183.887,183.887,0,0,1-156.733-5.8,155.889,155.889,0,0,1-83.6,24.163c-2.6,0-5.173-.087-7.739-0.212a271.7,271.7,0,0,1-13.457,24.638c4.832-.314,9.7-0.488,14.616-0.488a223.545,223.545,0,0,1,32.967,2.435c1.171-.024,2.344-0.042,3.52-0.042,94.61,0,173.532,67.017,192.044,156.18a87,87,0,0,0-76.58-28.551,312.577,312.577,0,0,1-94.861-82.632,499.26,499.26,0,0,1-127.874,18.379,270.393,270.393,0,0,1-41.444,28.862A302.891,302.891,0,0,1,734.7,757.092c-0.019-.071-0.042-0.141-0.062-0.212A135.2,135.2,0,0,1,864.93,892.005c0,5-1.4,9.132-1.93,14-0.1.333-.018-0.182,0.086,0.338a151.11,151.11,0,0,1-44.907,64.152,101.138,101.138,0,0,0-4.042-93.986,233.149,233.149,0,0,1-64.025-79.2A196.289,196.289,0,0,1,568.848,769.76a281.269,281.269,0,0,1-137.157.1,196.294,196.294,0,0,1-181.726,27.865,233.273,233.273,0,0,1-64.045,79.246,101.22,101.22,0,0,0-4.043,94.04,151.191,151.191,0,0,1-44.921-64.188c-0.342.154,0.387,0.022,0.044,0.174-0.529-4.866-1.888-9.509-1.888-14.516a135.256,135.256,0,0,1,130.333-135.2c-0.02.071-.043,0.141-0.062,0.211a302.894,302.894,0,0,1,93.88-17.024,270.421,270.421,0,0,1-41.457-28.879A499.208,499.208,0,0,1,189.893,693.2,312.678,312.678,0,0,1,95,775.881a87,87,0,0,0-76.6,28.567C36.917,715.235,115.863,648.18,210.5,648.18c1.177,0,2.35.018,3.521,0.042A223.557,223.557,0,0,1,247,645.785c4.913,0,9.786.174,14.62,0.489a271.728,271.728,0,0,1-13.461-24.652c-2.567.125-5.143,0.212-7.741,0.212A155.905,155.905,0,0,1,156.8,597.657a183.9,183.9,0,0,1-156.781,5.8,223.911,223.911,0,0,1,184.59-47.066q4.515-.418,9.142-0.425a97.8,97.8,0,0,1,33.855,6.02c-1.241-5.68-2.326-11.42-3.208-17.227,0.388-.121.784-0.224,1.174-0.341-0.728-3.934-1.423-7.929-2.061-11.916a202.16,202.16,0,0,1-37.779-8.875c-0.12,0-.238,0-0.358,0-99.8,0-180.7-80.962-180.7-180.833,0-3.992.143-7.949,0.4-11.876A137.7,137.7,0,0,0,85.31,383.663a397.491,397.491,0,0,1,76.976,90.656,163.9,163.9,0,0,1,58.29.9,169.424,169.424,0,0,1,5.266-34.184A192.911,192.911,0,0,1,78.907,326.669c-0.016-1.01-.038-2.017-0.038-3.03a191.5,191.5,0,0,1,10.1-61.571l0.176,0.073a180.9,180.9,0,0,1,49.865-76.834q2.64-3.721,5.381-7.365C188.558,99.781,272.335,47,368.463,47a256.349,256.349,0,0,1,96.7,18.824,465.06,465.06,0,0,0-146.086,62.962q3.687,4.165,7.206,8.482A198.27,198.27,0,0,1,489.287,148.5,389.843,389.843,0,0,0,316.5,201.919a385.486,385.486,0,0,1-121.7,65.693,75.453,75.453,0,0,1-22.568,36.78,566.442,566.442,0,0,1,113.541,92.376q12.416-5.276,25.127-9.975a51.435,51.435,0,0,0,97.041-23.814c0-.648-0.025-1.29-0.048-1.932a552.2,552.2,0,0,1,184.323.2c-0.019.575-.043,1.148-0.043,1.727a51.438,51.438,0,0,0,96.852,24.184q12.568,4.644,24.828,9.9a566.3,566.3,0,0,1,113.969-92.822,75.4,75.4,0,0,1-22.56-36.759A385.4,385.4,0,0,1,683.6,201.832a389.775,389.775,0,0,0-172.736-53.391A198.257,198.257,0,0,1,673.82,137.217q3.519-4.311,7.2-8.478A465,465,0,0,0,534.982,65.813,256.331,256.331,0,0,1,631.65,47c96.1,0,179.85,52.751,224,130.868q2.745,3.638,5.38,7.361a180.8,180.8,0,0,1,49.849,76.79l0.176-.073a191.33,191.33,0,0,1,10.1,61.536c0,1.012-.023,2.02-0.038,3.028A192.838,192.838,0,0,1,772.844,441.032a181.36,181.36,0,0,1,6.611,33.952,163.868,163.868,0,0,1,58.309-.907,397.285,397.285,0,0,1,76.952-90.605,137.655,137.655,0,0,0,80.213-52.709c0.255,3.925.4,7.88,0.4,11.869C995.327,442.447,914.451,523.363,814.685,523.363Z" transform="translate(-0.031 -9)"/>
                </svg>

                <!-- Nav Buttons -->

                {% if not current_user %}
                    <div class="d-none d-lg-block">
                        {% include 'join_crabber.html' %}
                    </div>
                {% endif %}

                {% if current_user %}

                <!-- Home page button -->
                <form onsubmit="loadingIcon(this);" action="/">
                    <button type="submit" class="btn btn-secondary rounded-pill mx-auto mx-lg-0 mt-2"
                    {% if current_page == "home" %}
                    id="nav-active"
                    {% endif %}
                    >
                        <svg class="btn-icon {{"d-none" if current_page == "home" else ""}}" width="28" height="28" data-jam="home">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#home">
                        </svg>
                        <svg class="btn-icon {{"" if current_page == "home" else "d-none"}} btn-icon-f" width="28" height="28" data-jam="home-f">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#home-f">
                        </svg>
                        <svg class="btn-icon loading-icon d-none" width="28" height="28" data-jam="refresh">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#refresh">
                        </svg>
                        <strong class="d-none d-lg-inline-block ml-2">Home</strong>
                    </button>
                </form>

                <!-- Wild West page button -->
                <form onsubmit="loadingIcon(this);" action="/wild">
                    <button type="submit" class="btn btn-secondary rounded-pill mx-auto mx-lg-0 mt-2"
                        {% if current_page == "wild-west" %}
                            id="nav-active"
                        {% endif %}>

                        <svg class="btn-icon {{"d-none" if current_page == "wild-west" else ""}}" width="28" height="28" data-jam="cactus">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#cactus"></use>
                        </svg>

                        <svg class="btn-icon {{"" if current_page == "wild-west" else "d-none"}} btn-icon-f" width="28" height="28" data-jam="cactus-f">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#cactus-f"></use>
                        </svg>

                        <svg class="btn-icon loading-icon d-none" width="28" height="28" data-jam="refresh">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#refresh"></use>
                        </svg>
                        <strong class="d-none d-lg-inline-block ml-2">Wild West</strong>
                    </button>
                </form>

                <!-- Notification page button -->
                <form onsubmit="loadingIcon(this);" action="/notifications">
                    <button type="submit" class="btn btn-secondary rounded-pill mx-auto mx-lg-0 mt-2 position-relative"
                    {% if current_page == "notifications" %}
                        id="nav-active"
                    {% endif %}>

                        <svg class="btn-icon {{"d-none" if current_page == "notifications" else ""}}" width="28" height="28" data-jam="bell">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#bell"></use>
                        </svg>

                        <svg class="btn-icon {{"" if current_page == "notifications" else "d-none"}} btn-icon-f" width="28" height="28" data-jam="bell-f">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#bell-f"></use>
                        </svg>
                        <span class="notif-badge {{"" if current_user.unread_notifications else "d-none"}}">{{current_user.unread_notifications}}</span>

                        <svg class="btn-icon loading-icon d-none" width="28" height="28" data-jam="refresh">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#refresh"></use>
                        </svg>
                        <strong class="d-none d-lg-inline-block ml-2">Notifications</strong>
                    </button>
                </form>

                <!-- Bookmark page button -->
                <form onsubmit="loadingIcon(this);" action="/bookmarks">
                    <button type="submit" class="btn btn-secondary rounded-pill mx-auto mx-lg-0 mt-2 position-relative"
                        {% if current_page == "bookmarks" %} id="nav-active" {% endif %}>

                        <svg class="btn-icon {{"d-none" if current_page == "bookmarks" else ""}}" width="28" height="28" data-jam="bookmark">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#bookmark"></use>
                        </svg>

                        <svg class="btn-icon {{"" if current_page == "bookmarks" else "d-none"}} btn-icon-f" width="28" height="28" data-jam="bookmark-f">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#bookmark-f"></use>
                        </svg>

                        <svg class="btn-icon loading-icon d-none" width="28" height="28" data-jam="refresh">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#refresh"></use>
                        </svg>
                        <strong class="d-none d-lg-inline-block ml-2">Bookmarks</strong>
                    </button>
                </form>

                <!-- Search page button -->
                <form onsubmit="loadingIcon(this);" action="/search">
                    <button type="submit" class="btn btn-secondary rounded-pill mx-auto mx-lg-0 mt-2 position-relative"
                        {% if current_page == "search" %} id="nav-active" {% endif %}>

                        <svg class="btn-icon {{"d-none" if current_page == "notifications" else ""}}" width="28" height="28" data-jam="search">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#search"></use>
                        </svg>

                        <svg class="btn-icon {{"" if current_page == "notifications" else "d-none"}} btn-icon-f" width="28" height="28" data-jam="search">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#search"></use>
                        </svg>

                        <svg class="btn-icon loading-icon d-none" width="28" height="28" data-jam="refresh">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#refresh"></use>
                        </svg>
                        <strong class="d-none d-lg-inline-block ml-2">Search</strong>
                    </button>
                </form>

                <!-- User page button -->
                <form onsubmit="loadingIcon(this);" action="/user/{{current_user.username}}">
                    <button type="submit" class="btn btn-secondary rounded-pill mx-auto mx-lg-0 mt-2"
                    {% if current_page == "own-profile" %}
                    id="nav-active"
                    {% endif %}
                    >
                        <div class="rounded-circle px28 profile-picture d-inline-block valign-middle"
                            style="background-image: url('{{url_for('static', filename=current_user.avatar)}}');">
                            <div class="d-none rounded-circle loading-icon loading-profile"></div>
                        </div>
                        <strong class="d-none d-lg-inline-block ml-2">Profile</strong>
                    </button>
                </form>

                <!-- Molt button -->
                <button type="button" id="molt-btn" class="btn btn-primary mx-auto mx-lg-0 subtle-shadow rounded-pill w-md-75 mt-4" id="molt-btn" onclick="toggleModal('#compose_modal');">

                    <svg class="btn-icon d-lg-none" width="28" height="28" data-jam="write">
                        <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#write"></use>
                    </svg>
                    <strong class="d-none d-lg-inline-block">Molt</strong>
                </button>

                <!-- Stats page button -->
                <form onsubmit="loadingIcon(this);" action="/stats">
                    <button type="submit" class="btn btn-secondary rounded-pill mx-auto mx-lg-0 mt-2 extra-navs"
                    {% if current_page == "stats" %}
                        id="nav-active"
                    {% endif %}>

                        <svg class="btn-icon text-muted {{"d-none" if current_page == "stats" else ""}}" width="28" height="28" data-jam="dashboard">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#dashboard"></use>
                        </svg>

                        <svg class="btn-icon text-muted {{"" if current_page == "stats" else "d-none"}} btn-icon-f" width="28" height="28" data-jam="dashboard-f">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#dashboard-f"></use>
                        </svg>

                        <svg class="btn-icon loading-icon loading-icon-center d-none" width="28" height="28" data-jam="refresh">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#refresh"></use>
                        </svg>
                        <strong class="d-none d-lg-inline-block ml-2">Stats</strong>
                    </button>
                </form>

                <!-- Settings page button -->
                <form onsubmit="loadingIcon(this);" action="/settings">
                    <button type="submit" class="btn btn-secondary rounded-pill mx-auto mx-lg-0 mt-2 extra-navs"
                    {% if current_page == "settings" %}
                        id="nav-active"
                    {% endif %}>

                        <svg class="btn-icon text-muted {{"d-none" if current_page == "settings" else ""}}" width="28" height="28" data-jam="cog">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#cog"></use>
                        </svg>

                        <svg class="btn-icon text-muted {{"" if current_page == "settings" else "d-none"}} btn-icon-f" width="28" height="28" data-jam="cog-f">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#cog-f"></use>
                        </svg>

                        <svg class="btn-icon loading-icon loading-icon-center d-none" width="28" height="28" data-jam="cog">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#cog"></use>
                        </svg>
                        <strong class="d-none d-lg-inline-block ml-2">Settings</strong>
                    </button>
                </form>

                <!-- Logout button -->
                <form class="no-ajax" onsubmit="return confirm('Are you sure you want to log out?')" action="/logout">
                    <button type="submit" class="btn btn-secondary rounded-pill mx-auto mx-lg-0 mt-2 extra-navs">

                        <svg class="btn-icon text-muted" width="28" height="28" data-jam="log-out">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#log-out"></use>
                        </svg>
                        <strong class="d-none d-lg-inline-block ml-2">Log out</strong>
                    </button>
                </form>
            {% endif %}
            </div>

            <!-- Molt modal -->
            <div class="modal fade" id="compose_modal" tabindex="-1" role="dialog" aria-labelledby="composeModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header py-2 border-dark">
                            <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body row">
                            <div class="mini-molt-profile-box col-lg-1 mr-2">
                                <a href="/user/{{current_user.username}}">
                                    <div class="rounded-circle px43 profile-picture"
                                        style="background-image: url('{{url_for('static', filename=current_user.avatar)}}');"></div>
                                </a>
                            </div>
                            <div class="mini-molt-text-box w-100 h-100 px-2 col">
                                <form action={{location}} method="POST" enctype="multipart/form-data" onsubmit="return subMolt(this);">
                                    <div class="mini-compose-textarea">
                                        <textarea name="molt_content" rows="5" class="my-2 w-100"
                                            placeholder="How are you feeling?"></textarea>
                                        <div class="large-molt-media-container d-none mb-2 border border-dark rounded-media zindex-front" {{macros.expand_img()}}>
                                            <img class="img-preview w-100 rounded-media"></img>
                                        </div>
                                    </div>
                                    <div class="mini-molt-actions d-flex flex-row justify-content-end w-100 compose-button-row">
                                        <!-- Image picker -->
                                        <div class="file-input input-group mb-3">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile01" name="molt-media"
                                                    aria-describedby="inputGroupFileAddon01" onchange="updateImgPreview(this);"
                                                    accept="image/x-png,image/jpeg,image/png">
                                                <label class="custom-file-label" for="inputGroupFile01">

                                                    <svg class="file-btn" width="28" height="28" data-jam="picture">
                                                        <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#picture"></use>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="file-btn clickable close-file-btn d-none" onclick="removeImg(this);">

                                            <svg width="28" height="28" data-jam="close-rectangle">
                                                <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#close-rectangle"></use>
                                            </svg>
                                        </div>

                                        <span class="mini-character-counter text-muted my-auto mr-3 d-none">{{MOLT_CHAR_LIMIT}}</span>
                                        <input type="hidden" name="user_action" value="submit_molt">

                                        <!-- Submit molt and reload in place -->
                                        <button type="submit" class="btn btn-primary rounded-pill"><strong>Molt</strong></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Quote Molt modal -->
            <div class="modal fade" id="compose_quote_modal" tabindex="-1" role="dialog" aria-labelledby="composeQuoteModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header py-2 border-dark">
                            <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Quoting <a class="text-light" id="quote-to" href="">someone</a></strong>
                        </div>
                        <div class="modal-body row">
                            <div class="mini-molt-profile-box col-lg-1 mr-2">
                                <a href="/user/{{current_user.username}}">
                                    <div class="rounded-circle px43 profile-picture"
                                        style="background-image: url('{{url_for('static', filename=current_user.avatar)}}');"></div>
                                </a>
                            </div>
                            <div class="mini-molt-text-box w-100 h-100 px-2 col">
                                <form action={{location}} method="POST" enctype="multipart/form-data" onsubmit="return subMolt(this);">
                                    <div class="mini-compose-reply-textarea">
                                        <textarea name="molt_content" rows="5" class="my-2 w-100"
                                            placeholder="Remember to be kind"></textarea>
                                        <div class="large-molt-media-container d-none mb-2 border border-dark rounded-media zindex-front" {{macros.expand_img()}}>
                                            <img class="img-preview w-100 rounded-media"></img>
                                        </div>
                                    </div>
                                    <div class="mini-molt-actions d-flex flex-row justify-content-end w-100 compose-button-row">

                                        <!-- Image picker -->
                                        <div class="file-input input-group mb-3">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile05" name="molt-media"
                                                    aria-describedby="inputGroupFileAddon01" onchange="updateImgPreview(this);"
                                                    accept="image/x-png,image/jpeg,image/png">
                                                <label class="custom-file-label" for="inputGroupFile05">

                                                    <svg class="file-btn" width="28" height="28" data-jam="picture">
                                                        <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#picture"></use>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="file-btn clickable close-file-btn d-none" onclick="removeImg(this);">

                                            <svg width="28" height="28" data-jam="close-rectangle">
                                                <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#close-rectangle"></use>
                                            </svg>
                                        </div>

                                        <span class="mini-character-counter text-muted my-auto mr-3 d-none">{{MOLT_CHAR_LIMIT}}</span>
                                        <input type="hidden" name="user_action" value="submit_quote_molt">
                                        <input type="hidden" id="quote-molt-id" name="molt_id" value="">
                                        <button type="submit" class="btn btn-primary rounded-pill"><strong>Quote</strong></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Molt reply modal -->
            <div class="modal fade" id="compose_reply_modal" tabindex="-1" role="dialog" aria-labelledby="composeReplyModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header py-2 border-dark">
                            <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Replying to <a class="text-light" id="reply-to" href="">someone</a></strong>
                        </div>
                        <div class="modal-body row">
                            <div class="mini-molt-profile-box col-lg-1 mr-2">
                                <a href="/user/{{current_user.username}}">
                                    <div class="rounded-circle px43 profile-picture"
                                        style="background-image: url('{{url_for('static', filename=current_user.avatar)}}');"></div>
                                </a>
                            </div>
                            <div class="mini-molt-text-box w-100 h-100 px-2 col">
                                <form action={{location}} method="POST" enctype="multipart/form-data" onsubmit="return subMolt(this);">
                                    <div class="mini-compose-reply-textarea">
                                        <textarea name="molt_content" rows="5" class="my-2 w-100"
                                            placeholder="Remember to be kind"></textarea>
                                        <div class="large-molt-media-container d-none mb-2 border border-dark rounded-media zindex-front" {{macros.expand_img()}}>
                                            <img class="img-preview w-100 rounded-media"></img>
                                        </div>
                                    </div>
                                    <div class="mini-molt-actions d-flex flex-row justify-content-end w-100 compose-button-row">

                                        <!-- Image picker -->
                                        <div class="file-input input-group mb-3">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile02" name="molt-media"
                                                    aria-describedby="inputGroupFileAddon01" onchange="updateImgPreview(this);"
                                                    accept="image/x-png,image/jpeg,image/png">
                                                <label class="custom-file-label" for="inputGroupFile02">

                                                    <svg class="file-btn" width="28" height="28" data-jam="picture">
                                                        <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#picture"></use>
                                                    </svg>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="file-btn clickable close-file-btn d-none" onclick="removeImg(this);">

                                            <svg width="28" height="28" data-jam="close-rectangle">
                                                <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#close-rectangle"></use>
                                            </svg>
                                        </div>

                                        <span class="mini-character-counter text-muted my-auto mr-3 d-none">{{MOLT_CHAR_LIMIT}}</span>
                                        <input type="hidden" name="user_action" value="submit_reply_molt">
                                        <input type="hidden" id="reply-molt-id" name="molt_id" value="">
                                        <button type="submit" class="btn btn-primary rounded-pill"><strong>Reply</strong></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit Molt modal -->
            <div class="modal fade" id="edit_molt_modal" tabindex="-1" role="dialog" aria-labelledby="editMoltModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark">
                        <div class="modal-header py-2 border-dark">
                            <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Editing your own Molt</a></strong>
                        </div>
                        <div class="modal-body row">
                            <div class="mini-molt-profile-box col-lg-1 mr-2">
                                <a href="/user/{{current_user.username}}">
                                    <div class="rounded-circle px43 profile-picture"
                                        style="background-image: url('{{url_for('static', filename=current_user.avatar)}}');"></div>
                                </a>
                            </div>
                            <div class="mini-molt-text-box w-100 h-100 px-2 col">
                                <form action={{location}} method="POST" enctype="multipart/form-data" onsubmit="return subMolt(this);">
                                    <div class="mini-compose-reply-textarea">
                                        <textarea id="edit-content" name="molt_content" rows="5" class="my-2 w-100"
                                            placeholder="Remember to be kind" required></textarea>
                                    </div>
                                    <div class="mini-molt-actions d-flex flex-row justify-content-end w-100 compose-button-row">
                                        <span class="mini-character-counter text-muted my-auto mr-3 d-none">{{MOLT_CHAR_LIMIT}}</span>
                                        <input type="hidden" name="user_action" value="submit_molt_edit">
                                        <input type="hidden" id="edit-molt-id" name="molt_id" value="">
                                        <button type="submit" class="btn btn-primary rounded-pill"><strong>Save</strong></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Image expand modal -->
            <div class="modal fade" id="image_modal" tabindex="-1" role="dialog" aria-labelledby="composeModalLabel" aria-hidden="true">
                <div class="modal-dialog image-modal-body absolute-center" role="document">
                    <!-- <img class="absolute-center" src="" alt="Expanded image"> -->
                </div>
            </div>

            <!-- Main Content -->
            {% if not fullwidth %}
                <div class="col col-lg-6 content border-dark border-left border-right p-0" id="main-panel">
                    {% if not current_user and not hide_sidebar %}
                        <div class="border-dark border-bottom p-2 d-block d-lg-none">
                            {% include 'join_crabber.html' %}
                        </div>
                    {% endif %}

                    <div class="border-dark border-bottom p-2" id="content-heading">
                        <h6 class="m-1 absolute-container">
                            <strong>{% block heading %}{% endblock %}</strong>
                            <div class="absolute-middle-right scroll-back" onclick="scrollToTop();">

                                <svg class="btn-icon" width="28" height="28" data-jam="arrow-up">
                                    <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#arrow-up"></use>
                                </svg>
                            </div>
                        </h6>
                    </div>
                    <div id="content-body" onscroll="updateScrollback();" class="h-100">
                        {% if error %}
                            <!-- ERROR MESSAGE -->
                            <div class="alert alert-danger p-1" role="alert">{{error}}</div>
                        {% endif %}
                        {% if msg %}
                            <!-- MISC MESSAGE -->
                            <div class="alert alert-secondary p-1" role="alert">{{msg}}</div>
                        {% endif %}
                        {% block body %} {% endblock %}
                    </div>
                </div>
            {% else %}
                <div class="scrollbox {{'scroll-snap' if current_page == 'welcome'}}">
                    {% block fullpage %} {% endblock %}
                </div>
            {% endif %}

            {% if not hide_sidebar %}
            <!-- Additional Panel -->
            <div class="d-none d-lg-block col-2 col-xl-3 ml-2 p-1" id="add-panel">
                <!-- Search bar -->
                <form action="/search/" method="GET">
                    <div class="rounded-pill search-box mini-compose-box px-3 p-2 d-flex flex-row">
                        <svg class="mr-2" width="28" height="28" data-jam="search">
                            <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#search">
                        </svg>
                        <input class="w-100 mr-2" type="text" name="q" placeholder="Search Crabber" required>
                    </div>
                </form>

                {% if current_user %}
                {% with recommended_crabs=current_user.get_recommended_crabs() or current_user.query.offset(8).limit(3).all() %}
                    {% if recommended_crabs %}
                    <!-- Who to follow -->
                    <div class="panel d-none d-xl-block" id="recommended-crabs">
                        <div class="panel-title">
                            <span>Who to follow</span>
                        </div>
                        {% for crab in recommended_crabs %}
                            <div class="recommended-crab">
                            {% with hide_description = True, hide_border = loop.last %}
                                {% include 'mini_bio.html' %}
                            {% endwith %}
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endwith %}
                {% endif %}

                <!-- Trending Crabtags -->
                <div class="panel" id="trending">
                    <div class="panel-title">
                        <span>Trending</span>
                    </div>
                    {% for tag, uses in trending_crabtags %}
                        <a href="/crabtag/{{tag.name}}">
                            <div class="trending-tag">
                                <span class="text-primary">%{{tag.name}}</span>
                                <small class="text-muted">
                                    Used {{uses}} time{{uses|pluralize}} recently.
                                </small>
                            </div>
                        </a>
                    {% else %}
                        <p class="text-muted nothing">
                        Nothing right now.
                        </p>
                    {% endfor %}
                </div>

                {% if is_debug_server %}
                <!-- Debug -->
                <div class="panel" id="trending">
                    <div class="panel-title">
                        <span>Debug Panel</span>
                    </div>
                    <div class="panel-content">
                        <!-- Put values you want to monitor here -->
                    </div>
                </div>
                {% endif %}

                <!-- Copyright footer -->
                <div id="nav-footer" class="text-muted-more d-none d-lg-block absolute-bottom mb-3">
                    <small class="mb-2 d-block">{{server_start|pretty_age}} since last update.</small>
                    <small>&copy; Copyright {{current_year}}, Crabber</small>
                    <br>
                    <small>Crabber is open source. <a href="https://github.com/jakeledoux/crabber">Fork on GitHub</a>.</small>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script async>
        attachCharacterCounters();
    </script>
</body>
</html>
