{% extends "base.html" %}
{% block title %} Forgot password {% endblock %}
{% block heading %}
<!-- Logo -->
<img class="logo"
    src="{{ url_for('static', filename='img/crabber_logo.svg') }}" alt="Crabber Logo" width="43" height="43">
{% endblock %}

{% block body %}
    {% if email_sent %}
        <div class="w-75 m-4">
            <h1>An email has been dispatched.</h1>
            <p class="text-muted">
                Please be patient, our secretary crabs are working as fast as they can.
            </p>
            <p class="text-muted">
                Make sure to check your spam folders too. Just in case.
            </p>
        </div>
    {% else %}
        <form class="w-75 m-4" method="POST">
            <h1>So you've done it again.</h1>
            <p class="text-muted mb-5">
                Look, we don't want to be condenscending or anything, but at this
                point shouldn't you just give up and get a password manager?
            </p>

            <div class="form-group cool-input">
                <label for="reset-email">Email address</label>
                <input type="email" name="email" class="form-control" id="reset-email" aria-describedby="emailHelp"
                       required aria-required>
            </div>

            <div class="form-group form-check mt-4"
                 title="We don't discriminate!">
                <input type="checkbox" class="form-check-input" id="humiliation" required aria-required>
                <label class="form-check-label" for="humiliation">
                    I promise to never forget my password again.
                </label>
            </div>

            <div class="d-flex align-items-center mt-4">
                <button type="submit" class="btn btn-primary rounded-pill mr-4">
                    Reset password
                </button>
            </div>
        </form>
    {% endif %}
{% endblock %}
