<div class="link-card zindex-front clickable rounded-media"
     onclick="openNewTab('{{card.url}}');">
    <div class="card-image" style="background-image: url('{{card.image}}');"></div>
    <div class="card-content">
        <span class="card-title">{{card.title}}</span>
        <span class="card-description text-muted">
            {{card.description}}
        </span>
        <span class="card-address text-muted">
            <svg class="mini-molt-action-icon pb-1" width="16" height="20" data-jam="map-marker">
                <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#link"></use>
            </svg>
            {{card.url|url_root}}
        </span>
    </div>
</div>
