{% macro expand_img() %}
    style="cursor: pointer;" onclick="expandImage($(this).find('img, div').attr('src'))"
{% endmacro %}

{% macro verified(size) %}
<svg class="verified" xmlns="http://www.w3.org/2000/svg" width="{{size}}" height="{{size}}" viewBox="0 0 769 769.093">
  
  <path id="Rectangle_1_copy" data-name="Rectangle 1 copy" fill-rule="evenodd" d="M740.52,506.066l-24.759,24.762v35.018a149.991,149.991,0,0,1-149.982,150H530.765l-24.759,24.762a149.968,149.968,0,0,1-212.106,0l-24.759-24.762H234.127a149.991,149.991,0,0,1-149.981-150V530.828L59.387,506.066a150.013,150.013,0,0,1,0-212.132l24.759-24.762V234.154a149.991,149.991,0,0,1,149.982-150h35.014L293.9,59.392a149.969,149.969,0,0,1,212.106,0l24.759,24.762h35.014a149.991,149.991,0,0,1,149.982,150v35.018l24.759,24.762A150.014,150.014,0,0,1,740.52,506.066Zm-156.647-208.8,0.453,0.258L404.637,577.4a43.935,43.935,0,0,1-77.58,5.17L220.6,478.663a43.939,43.939,0,1,1,49.857-72l0.679-.713,85.052,82.508L507.106,254.516A43.939,43.939,0,0,1,583.873,297.268Z" transform="translate(-15.469 -15.469)"/>
</svg>
{% endmacro %}
