{% import "macros.jinja" as macros %}

{% set placeholder = "How are you feeling?"%}
{% if current_user %}
    {% if current_user.username == "Colmag15" %}
        {% set placeholder = "Why are you feeling this way?"%}
    {% endif %}
{% endif %}
<div class="mini-compose-box border-bottom border-dark px-3 py-2 d-flex flex-row">
    <div class="mini-molt-profile-box">
        <a href="/user/{{current_user.username}}">
            <div class="rounded-circle px43 profile-picture" style="background-image: url('{{url_for('static', filename=current_user.avatar)}}');"
            src="{{url_for('static', filename=current_user.avatar)}}"></div>
        </a>
    </div>
    <div class="mini-molt-text-box w-100 h-100 px-2">
        <form action={{location}} method="POST" enctype="multipart/form-data" onsubmit="return subMolt(this);">
            <div class="mini-compose-textarea">
                <textarea name="molt_content" rows="5" class="my-2 w-100"
                    placeholder="{{placeholder}}" onfocus="expandMoltBox(this);"></textarea>
                <div class="large-molt-media-container d-none mb-2 border border-dark rounded-media zindex-front" {{macros.expand_img()}}>
                    <img class="img-preview w-100 rounded-media"></img>
                </div>
            </div>
            <div class="mini-molt-actions d-flex flex-row justify-content-end w-100 compose-button-row">

                <!-- Image picker -->
                <div class="file-input input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile03" name="molt-media"
                            aria-describedby="inputGroupFileAddon01" onchange="updateImgPreview(this);"
                            accept="image/x-png,image/png,image/jpeg">
                        <label class="custom-file-label" for="inputGroupFile03">

                            <svg class="file-btn" width="28" height="28" data-jam="picture">
                                <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#picture"></use>
                            </svg>
                        </label>
                    </div>
                </div>

                <div class="file-btn clickable close-file-btn d-none" onclick="removeImg(this);">

                    <svg width="28" height="28" data-jam="close-rectangle">
                        <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#close-rectangle"></use>
                    </svg>
                </div>

                <span class="mini-character-counter text-muted my-auto mr-3 d-none">{{MOLT_CHAR_LIMIT}}</span>
                <input type="hidden" name="user_action" value="submit_molt">
                <button type="submit" class="btn btn-primary rounded-pill"><strong>Molt</strong></button>
            </div>
        </form>
    </div>
</div>

<script async>
    attachCharacterCounters();

    updateCounter.call($('.mini-compose-box textarea'));

    closeBox = function(event) {
        if (!$(event.target).closest('.mini-compose-box').length) {
            collapseMoltBox();
            $(document).off('click', closeBox);
        }
    }
    $(document).on('click', closeBox);
</script>
