<!-- All molts live here! -->
{% for notif in notifications.items %}
    {% include "notif.html" %}
    {% if not notif.read %}
        {{ "" if notif.mark_read() else ""}}
    {% endif %}
{% else %}
    <div class="d-inline-block w-100 p-5 text-muted text-molt text-center">Notifications will appear here. Get out there and make a splash!</div>
{% endfor %}
{% if notifications.has_next or notifications.has_prev %}
    <nav aria-label="Page navigation buttons" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item {{'' if notifications.has_prev else 'disabled'}}">
                <a class="page-link h-100 p-0" href="{{url_for('notifications', p=notifications.prev_num)}}" tabindex="-1">

                    <svg class="absolute-center" width="24" height="24" data-jam="chevron-left">
                        <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#chevron-left"></use>
                    </svg>
                </a>
            </li>
            <li class="page-item {{'' if notifications.has_prev else 'disabled'}}"><a class="page-link" href="/notifications">Home</a></li>
            <li class="page-item {{'' if notifications.has_next else 'disabled'}}">
                <a class="page-link h-100 p-0" href="{{url_for('notifications', p=notifications.next_num)}}">

                    <svg class="absolute-center" width="24" height="24" data-jam="chevron-right">
                        <use href="{{url_for('static', filename='img/sprites.svg')}}?version={{server_start}}#chevron-right"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
{% endif %}
<!-- Spacer -->
<div class="d-inline-block w-100 p-5 my-5 text-muted text-molt text-center"></div>
