{% extends "base.html" %}
{% block title %} Reset password {% endblock %}
{% block heading %}
<!-- Logo -->
<img class="logo"
    src="{{ url_for('static', filename='img/crabber_logo.svg') }}" alt="Crabber Logo" width="43" height="43">
{% endblock %}

{% block body %}
    <form class="w-75 m-4" method="POST">
        <h1>Choose a new password</h1>
        <p class="text-muted mb-5">
            and then write it down so this doesn't happen again.
        </p>

        <!-- Pass -->
        <div class="form-group cool-input">
            <label for="new-password">Password</label>
            <input type="password" name="password" class="form-control" id="new-password" required aria-required>
        </div>

        <!-- Confirm pass -->
        <div class="form-group cool-input">
            <label for="confirm-new-password">Confirm password</label>
            <input type="password" name="confirm-password" class="form-control" id="confirm-new-password" required aria-required>
        </div>

        <div class="d-flex align-items-center mt-4">
            <button type="submit" class="btn btn-primary rounded-pill mr-4">
                Reset password
            </button>
        </div>
    </form>
{% endblock %}
