<div class="p-2 w-100 no-h-scroll">
    <h2 class="mb-3">Bio</h2>
    <form method="POST" class="p-2">
        <input type="hidden" name="user_action" value="update_description" autofocus>
        <input type="hidden" name="page" value="settings">
        <input type="hidden" name="user_id" value="{{current_user.id}}">

        <!-- Display name -->
        <div class="form-group cool-input">
            <label for="displayName">Display name</label>
            <input type="text" name="display_name" class="form-control" id="displayName"
                placeholder="Bob 'Snake' Plissken" value="{{current_user.display_name}}" required aria-required>
        </div>

        <!-- Description -->
        <div class="form-group cool-input">
            <label for="description">About me</label>
            <textarea type="text" name="description" class="bg-dark form-control text-light" id="description" placeholder="When I get back, I'm going to kill you."
            required aria-required>{{current_user.description.strip()}}</textarea>
        </div>

        <!-- Location -->
        <div class="form-group cool-input">
            <label for="location">Location <span class="text-muted">(optional)</span></label>
            <input type="text" name="location" class="form-control" id="location"
                placeholder="Planet Earth, The Solar System" value="{{current_user.location if current_user.location else ""}}">
        </div>

        <!-- Website -->
        <div class="form-group cool-input">
            <label for="website">Website <span class="text-muted">(optional)</span></label>
            <input type="text" name="website" class="form-control" id="website"
                placeholder="https://onlycrabs.com/bigred" value="{{current_user.website if current_user.website else ""}}">
        </div>

        <!-- Bio -->
        <label>Fun facts <span class="text-muted">(optional)</span><br><small class="text-muted">Tell people about yourself!</small></label>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="description">Age</label>
            </div>
            <input type="text" name="bio.age" class="bg-dark form-control text-light" placeholder="e.g. 42"
                {% if current_user.bio.get("age", "?") != "?" %}value="{{current_user.bio.get("age")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="description">Pronouns</label>
            </div>
            <input type="text" name="bio.pronouns" class="bg-dark form-control text-light" placeholder="e.g. they/them"
                {% if current_user.bio.get("pronouns", "?") != "?" %}value="{{current_user.bio.get("pronouns")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="description">Quote</label>
            </div>
            <input type="text" name="bio.quote" class="bg-dark form-control text-light" placeholder="e.g. The world is your lobster."
                {% if current_user.bio.get("quote", "?") != "?" %}value="{{current_user.bio.get("quote")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="description">My jam</label>
            </div>
            <input type="text" name="bio.jam" class="bg-dark form-control text-light" placeholder="e.g. Frank Sinatra - My Way"
                {% if current_user.bio.get("jam", "?") != "?" %}value="{{current_user.bio.get("jam")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="description">Latest obsession</label>
            </div>
            <input type="text" name="bio.obsession" class="bg-dark form-control text-light" placeholder="e.g. playing with my Tamagotchi"
                {% if current_user.bio.get("obsession", "?") != "?" %}value="{{current_user.bio.get("obsession")}}"{% endif %}
                >
        </div>
        <div class="mb-2 input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="description">Remember when</label>
            </div>
            <input type="text" name="bio.remember" class="bg-dark form-control text-light" placeholder="e.g. profile pictures were square?"
                {% if current_user.bio.get("remember", "?") != "?" %}value="{{current_user.bio.get("remember")}}"{% endif %}
                >
        </div>
        <div class="input-group cool-input">
            <div class="input-group-prepend">
                <label class="input-group-text" for="description">Favorite emoji</label>
            </div>
            <input type="text" name="bio.emoji" class="bg-dark form-control text-light" placeholder="e.g. 🌵 or ;)"
                {% if current_user.bio.get("emoji", "?") != "?" %}value="{{current_user.bio.get("emoji")}}"{% endif %}
                >
        </div>

        <!-- Submit button -->
        <button class="btn btn-primary rounded-pill mt-3 float-right" type="submit"><strong>Save</strong></button>
        <div class="clearfix"></div>
    </form>

    <!-- Section border -->
    <hr class="border-dark mb-3 mt-4">

    <h2 class="mb-3">Account</h2>
    <form method="POST" class="p-2">
        <input type="hidden" name="user_action" value="update_account">

        <!-- Email address -->
        <div class="form-group cool-input">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Please enter an email address" value="{{current_user.email}}" required aria-required>
        </div>

        <!-- Username -->
        <div class="form-group cool-input">
            <label for="inlineFormInputGroup">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input name="username" type="text" class="form-control" id="inlineFormInputGroup" placeholder="crablover2000"
                    value="{{current_user.username}}" required aria-required>
            </div>
        </div>

        <!-- Submit button -->
        <button class="btn btn-primary rounded-pill mt-3 float-right" type="submit"><strong>Save</strong></button>
        <div class="clearfix"></div>
    </form>

    <!-- Section border -->
    <hr class="border-dark mb-3 mt-4">

    <h2 class="mb-3">Misc</h2>
    <form method="POST" class="p-2">
        <input type="hidden" name="user_action" value="update_general_settings">

        <!-- Timezone dropdown -->
        <div class="form-group">
            <label for="timezone">Timezone</label>
            <div class="input-group cool-input">
                <select class="custom-select" name="timezone" id="timezone">
                    <option value="-12.00" {{'selected' if current_user.timezone == "-12.00"}}>(GMT -12:00) Eniwetok, Kwajalein</option>
                    <option value="-11.00" {{'selected' if current_user.timezone == "-11.00"}}>(GMT -11:00) Midway Island, Samoa</option>
                    <option value="-10.00" {{'selected' if current_user.timezone == "-10.00"}}>(GMT -10:00) Hawaii</option>
                    <option value="-09.00" {{'selected' if current_user.timezone == "-09.00"}}>(GMT -9:00) Alaska</option>
                    <option value="-08.00" {{'selected' if current_user.timezone == "-08.00"}}>(GMT -8:00) Pacific Time (US &amp; Canada)</option>
                    <option value="-07.00" {{'selected' if current_user.timezone == "-07.00"}}>(GMT -7:00) Mountain Time (US &amp; Canada)</option>
                    <option value="-06.00" {{'selected' if current_user.timezone == "-06.00"}}>(GMT -6:00) Central Time (US &amp; Canada), Mexico City</option>
                    <option value="-05.00" {{'selected' if current_user.timezone == "-05.00"}}>(GMT -5:00) Eastern Time (US &amp; Canada), Bogota, Lima</option>
                    <option value="-04.00" {{'selected' if current_user.timezone == "-04.00"}}>(GMT -4:00) Atlantic Time (Canada), Caracas, La Paz</option>
                    <option value="-03.50" {{'selected' if current_user.timezone == "-03.50"}}>(GMT -3:30) Newfoundland</option>
                    <option value="-03.00" {{'selected' if current_user.timezone == "-03.00"}}>(GMT -3:00) Brazil, Buenos Aires, Georgetown</option>
                    <option value="-02.00" {{'selected' if current_user.timezone == "-02.00"}}>(GMT -2:00) Mid-Atlantic</option>
                    <option value="-01.00" {{'selected' if current_user.timezone == "-01.00"}}>(GMT -1:00 hour) Azores, Cape Verde Islands</option>
                    <option value="00.00" {{'selected' if current_user.timezone == "00.00"}}>(GMT) Western Europe Time, London, Lisbon, Casablanca</option>
                    <option value="01.00" {{'selected' if current_user.timezone == "01.00"}}>(GMT +1:00 hour) Brussels, Copenhagen, Madrid, Paris</option>
                    <option value="02.00" {{'selected' if current_user.timezone == "02.00"}}>(GMT +2:00) Kaliningrad, South Africa</option>
                    <option value="03.00" {{'selected' if current_user.timezone == "03.00"}}>(GMT +3:00) Baghdad, Riyadh, Moscow, St. Petersburg</option>
                    <option value="03.50" {{'selected' if current_user.timezone == "03.50"}}>(GMT +3:30) Tehran</option>
                    <option value="04.00" {{'selected' if current_user.timezone == "04.00"}}>(GMT +4:00) Abu Dhabi, Muscat, Baku, Tbilisi</option>
                    <option value="04.50" {{'selected' if current_user.timezone == "04.50"}}>(GMT +4:30) Kabul</option>
                    <option value="05.00" {{'selected' if current_user.timezone == "05.00"}}>(GMT +5:00) Ekaterinburg, Islamabad, Karachi, Tashkent</option>
                    <option value="05.50" {{'selected' if current_user.timezone == "05.50"}}>(GMT +5:30) Bombay, Calcutta, Madras, New Delhi</option>
                    <option value="05.75" {{'selected' if current_user.timezone == "05.75"}}>(GMT +5:45) Kathmandu</option>
                    <option value="06.00" {{'selected' if current_user.timezone == "06.00"}}>(GMT +6:00) Almaty, Dhaka, Colombo</option>
                    <option value="07.00" {{'selected' if current_user.timezone == "07.00"}}>(GMT +7:00) Bangkok, Hanoi, Jakarta</option>
                    <option value="08.00" {{'selected' if current_user.timezone == "08.00"}}>(GMT +8:00) Beijing, Perth, Singapore, Hong Kong</option>
                    <option value="09.00" {{'selected' if current_user.timezone == "09.00"}}>(GMT +9:00) Tokyo, Seoul, Osaka, Sapporo, Yakutsk</option>
                    <option value="09.50" {{'selected' if current_user.timezone == "09.50"}}>(GMT +9:30) Adelaide, Darwin</option>
                    <option value="10.00" {{'selected' if current_user.timezone == "10.00"}}>(GMT +10:00) Eastern Australia, Guam, Vladivostok</option>
                    <option value="11.00" {{'selected' if current_user.timezone == "11.00"}}>(GMT +11:00) Magadan, Solomon Islands, New Caledonia</option>
                    <option value="12.00" {{'selected' if current_user.timezone == "12.00"}}>(GMT +12:00) Auckland, Wellington, Fiji, Kamchatka</option>
                </select>
            </div>
        </div>

        <!-- Last.fm Username -->
        <div class="form-group cool-input">
            <label for="inlineFormInputGroup">Last.fm Username <span class="text-muted">(optional)</span></label>
            <div class="input-group">
                <input name="lastfm" type="text" class="form-control" id="inlineFormInputGroup" placeholder="rock_lobster"
                    value="{{current_user.lastfm if current_user.lastfm}}">
            </div>
        </div>

        <!-- Submit button -->
        <button class="btn btn-primary rounded-pill mt-3 float-right" type="submit"><strong>Save</strong></button>
        <div class="clearfix"></div>
    </form>

    <!-- Section border -->
    <hr class="border-dark mb-3 mt-4">

    <h2 class="mb-3">
        <span class="glitch-wrapper">
            <span class="glitch" data-text="[REDACTED]">
                [REDACTED] ZONE
            </span>
        </span>
    </h2>
    <form method="POST" class="p-2" onchange="updateStylePreferences(this);">
        <input type="hidden" name="user_action" value="style_settings">

        <p>Exercise EXTREME caution.<p>

        <!-- Light Mode -->
        <div class="form-group cool-input mb-2">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="toggle-light-mode"
                    name="light_mode" {{'checked' if light_mode}}>
                <label class="custom-control-label" for="toggle-light-mode">Light Mode</label>
            </div>
        </div>

        <!-- Comic Sans Mode -->
        <div class="form-group cool-input mb-2">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="toggle-comicsans-mode"
                    name="comicsans_mode" {{'checked' if comicsans_mode}}>
                <label class="custom-control-label" for="toggle-comicsans-mode">Comic Sans Mode</label>
            </div>
        </div>
    </form>


    <!-- Spacer -->
    <div class="d-inline-block w-100 py-5 my-5 text-muted text-molt text-center"></div>
</div>

<script>
    // Stop autofocus
    document.querySelector("input[name='lastfm']").blur();
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
</script>
